/* responsive-images.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background: #007BFF;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 20px;
}
.hero img {
  width: 100%;
  height: auto;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
  position: absolute;
  width: 100%;
  bottom: 0;
}
