body {
  font-family: "Roboto",sans-serif;
}
header, main, footer {
  max-width: 640px;
  text-align: center;
  margin: 1rem auto;
  border: 1px solid rgba(210, 207, 207, 0.157);
  padding: 1rem;
  background-color: rgba(91, 154, 243, 0.157);
  
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  
}

section {
  padding: 1rem;
  background-color: white;
}