@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&display=swap');

body {
    font-family: 'Lato', 'Noto Serif', sans-serif;
}

footer, header {
    text-align: center;}

header, main, footer {
    margin: 1rem auto;
    border: 1px solid #0d0c0cef;
    padding: 1rem;
    background-color: #05aff2;
}

header, footer {
    color: #ffffff
}

main {
    display: grid;
    gap:30px;
}

main a {
    color: #000;
    text-decoration: none;
}

section {
    padding: 1rem;
    background-color: #f3c808;
}

section img {
    display: block;
    width: 100%;
}