:root {
  --site-color-01: #f4f4f4;
  --site-color-02: #24aeca;
  --site-color-04: #333;
  --site-color-06: #e5e6e3; 
  --site-color-07: #555; 
  --headline-font-family: 'Arial', sans-serif;
}

* {
  box-sizing: border-box; /* Apply box-sizing reset globally */
  margin: 0 auto;
}

/* General page container */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes full height */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #1f69c4;
  background-color: #e5e6e3;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}


body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../images/fb-color.png) url(../images/in-color.png);
}

h1 {
  font-size: 2rem;  /* Adjust size for readability */
  line-height: 2.5rem;  /* Ensure line height accommodates text */
}


h2, h3, h4, h5 {
  font-family: var(--headline-font-family);
}
p {
  font-size: 14px;
    line-height: 18px;
    color: var(--site-color-06);
    font-family: var(--body-text-font-family);
    font-weight: 400;
}
a {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 18px;
  color: var(--site-color-04);
  font-family: var(--navigation-font-family);
  font-weight: 800;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}
#menu {
  display: block;
  position:absolute;
  margin-top: 20px;
  right: 40px;
  font-size: 18px;
  font-weight: 800;
  background-color: var(--site-color-08);
  color: var(--site-color-01);
  text-decoration: none;
}

#menu::before {
  content: "≡"; /* Set the content to a hamburger icon */;
}

#menu.open::before {
  content: "X"; /* Change the content to an 'X' icon when the menu is open */;
}

#dark-mode-toggle {
  width: 20px;
  height: 20px;
  align-self: center;
  position: absolute;
  top: 20px;
  right: 18px;
}
#dark-mode-toggle img {
  width: 20px;
  height: 22px;
  background-color: #fff;
  opacity: 70%;
  border-radius: 50%;
}
.header-main {
  width: 100%;
  background-color: #007BFF;
  padding: 4rem;
  text-align: center;
}

.header-main-logo img {
  height: auto;
  padding: 5px 0 0 20px;
}
#navigation {
  background-color: var(--site-color-07);
  max-width: 100%;
  margin: 0 auto; /* Ensure it's centered */
}
.header-main-nav {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
  padding: 1.5rem 0;
  display: none;
}

.open .nav-item {
  display: block; /* Show items when navigation is open */
}

.nav-item:hover {
  background-color: #e5f00c;
  width: 100%;
  text-align: center;
}

.header-main-nav .nav-item a:hover {
  color: var(--site-color-03);
}
.header-main-nav .nav-item {
  display: none;
}

.header-main-nav.open .nav-item {
  display: block;
}

.header-main-sm {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-right: 30px;
  display: none;
}

/* Main container should take up remaining space */
.main-container {
  flex-grow: 1; /* Take up remaining space between header and footer */
  margin-top: 1rem;
}

.hero-container {
  margin: 0 auto ;
}

.hero-container-img {
  position: relative;
}

#hero-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero-container h1 {
  text-align: right;
  color: #0b0b0b;
  position: absolute;
  top: 50%;
  right: 3%;
  background: #e8e3e3a1;
  margin: 0;
}
#subheading {
  margin: 0;
  font-size: 1rem;
  color: #252526
}
.main-cta a {
  font-size: 0.8rem;
  position: absolute;
  top: 75%;
  right: 3%;
  margin: 0 auto;
  display: block;
  text-align: center; 
  border: 2px solid rgba(12, 12, 12, 0.872);
  border-radius: 10px;
  background-color: rgb(231, 243, 6);
  font-weight: 900;
  color: rgb(16, 61, 225);
  padding: 2px 5px;
  width: fit-content;
  transition: all ease-in-out 200ms;
}

.main-cta a:hover, .main-cta a:active {
  border: 3px solid #DB9817;
  background-color: lightblue;
  color: #DB9817;    
}
.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 10px 20px 10px;
  margin: 0 auto;
}
.weather-container h2 {
  margin: 0 0 10px 0;
  font-size: 2rem;
  color: var(--site-color-01);
}
.weather-container .data-title {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(7, 19, 243);
}
.data-table {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.75rem;
  row-gap: 0.5rem;
}
.data-table .date-title {
  font-family: var(--headline-font-family);
  font-weight: bold !important;
  font-size: 1.2rem;
}
.weather-container .data-value {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: rgb(139, 8, 240);
}

/* Consolidated container styles */
.events-container,
.weather-container,
.spotlights-container {
  padding: 30px 5px;
  background-color: rgb(210, 206, 206);
  border-radius: 10px;
  box-shadow: 0 14px 28px black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
/* Your existing styles */

/* Styles for the grid view */
.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive columns */
  gap: 20px; /* Space between grid items */
}

/* Styles for the list view */
.list-view {
  display: block; /* Stack the items vertically */
}

/* You can also apply some basic styling to the individual member cards, if needed */
.member-card {
  background: #fff; /* Example background */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* Footer styles */
footer {
  background-color: rgb(8, 187, 237);
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin-top: auto; /* Push footer to the bottom of the page */
}


.footer-main {
  width: 100%;
  padding: 20px 0;
  background-color: rgb(8, 187, 237);
  margin: 0 auto;
  margin-top: 40px;
}
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 0;
}
.footer-sitemap {
  margin: 0;
  padding: 0;
}

.footer-sitemap a{
  color: rgb(246, 240, 245);
  transition: all ease-in-out 100ms;
  font-weight: 600;
}

.footer-sitemap a:hover{
  color: rgb(240, 167, 11);
  font-weight: 900;
}
.footer-main .nav-item {
  display: block;
  text-align: left;
  background-color: var(--site-color-07);
}

/* Footer contact info */
.footer-contact-information {
  font-size: 1rem;
  margin: 10px 0;
}

.footer-contact-information p {
  margin: 5px 0;
}

#footer-address {
  font-weight: 600;
}
/* Optional: adjust footer icons and links */
.footer-main-sm-fb {
  width: 30px;
  height: 30px;
  background-image: url('images/facebook-icon.svg'); /* Ensure this path is correct */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-main-sm-in {
  width: 30px;
  height: 30px;
  background-image: url('images/instagram-icon.svg'); /* Ensure this path is correct */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-main-sm a {
  color: #fff;
}
.footer-main-sm a:hover {
  color: #f1c40f;
}

.footer-image-logo img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}
.footer-update-info {
  padding: 20px 0 40px;
}
.footer-update-info p {
  margin: 0;
  text-align: center;
  font-size: 12px;
  color: var(--site-color-02);
}   

 /* Discover Site */

.main-container-discover {
  max-width: 1280px !important;
  margin: 0 auto !important;
  /* padding: 20px; */
}

.hero-container-discover{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 2em;
}

.hero-container-discover h1 {
  font-size: 3em;
  line-height: 1em;
  background: #f2f2f2a1;
  position: absolute;
  /* padding: 1em; */
}

.main-container-discover h2,
#latest-visit {
  margin-bottom: 20px !important;
  text-align: center;
  color: var(--site-color-10)
}

.main-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  width: 90%;
}

.main-cards-events {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1em;
  margin-bottom: 3.5em;
}

.main-cards-events figure img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.main-cards-events figure figcaption {
  text-align: left;
  background-color: var(--site-color-07);
  color: var(--site-color-02);
  font-size: 1em;
  font-family: var(--body-text-font-family);
  padding: 5px 0 5px 5px;
  width: 350px;
  margin: -1% 0
}

.main-cards-events-info {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 0.2em;
  padding: 0;
}

.main-cards-events-info p {
  margin: 0;
  text-align: left;
}

.main-cards-events-info, 
.category {
  font-family: var(--navigation-font-family);
  color: var(--site-color-09);
  font-weight: 800;
}

.main-cards-events-info, 
.tittle {
  font-family: var(--body-text-font-family);
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: 900;
  color: var(--site-color-11);
}

.main-cards-events-info, 
.date, 
.location {
  margin: 0;
  font-family: var(--body-text-font-family);
  color: var(--site-color-10);
}

.location::before {
  content: '📌';
}

/* General styling for form elements */
.join-main  {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
}

.form-section{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  font-family: var(--body-text-font-family);
  color: var(--site-color-01);
  font-size: 1.2em;
  font-weight: 600;
}

.form-section h1,
.benefits-section h2 {
  font-family: var(--headline-font-family);
  color: var(--site-color-09);
  padding: 1em;
  margin: 0;
  text-align: center;
}

.membership-form {
  width: clamp(300px, 100%, 450px);
  border: 1px solid var(--site-color-01);
  border-radius: 6px;
  padding: .5rem 2%;
}

.membership-form label {
  display: block;
  padding-top: .5em;
  font-family: var(--body-text-font-family);
  color: var(--site-color-01);
  font-size: 1em;
}
.membership-form input[type="text"],
.membership-form input[type="email"],
.membership-form input[type="tel"],
.membership-form textarea {
  width: 100%;
  padding: 0.5em;
  font-size: 1.2em;
  appearance: none;
  max-width: 450px;
  border-radius: 6px;
}

.membership-form div {
  padding-top: 1em;
  margin: 0;
}

.membership-form label:has(input[type="radio"]) {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 10px 0; 
  cursor: pointer;
  font-size: 1em;
}

.membership-form input[type="radio"] {
  margin-right: 6px;
  padding: 10px 0;
  cursor: pointer; /* Add cursor pointer for better UX */
}

.membership-form #label-description {
  padding-top: 1em;
}

.membership-form input[type="submit"] {
  border: none;
  outline: none;
  border-radius: 6px;
  height: 2.75em;
  padding: .8em;
  max-width: 450px;
  color: var(--site-color-06);
  font-size: 1.4em;
  background: var(--site-color-09);
  box-shadow: 1px 1px 4px var(--site-color-11);
  text-transform: uppercase;
  font-weight: 700;
  width: 96%;
  margin: 1.5em 2% 1.5rem 2%;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.membership-form input[type="submit"]:hover {
  background: var(--site-color-14);
  color: var(--site-color-03);
  font-weight: bold;
}

/* Styling for the benefits table */
.benefits-section table {
  border-collapse: collapse;
  font-family: var(--body-text-font-family);
  font-size: 1.1em;
  border: 1px solid var(--site-color-01);
  box-shadow: 1px 1px 1px var(--site-color-10);
  border-radius: 6px;
  padding: .5rem 2%;
  width: 100%;
}

.benefits-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

.benefits-section th,
.benefits-section td {
  padding: 0.75em;
  text-align: left;
  border: 1px solid var(--site-color-01);
  color: var(--site-color-10);
}

.benefits-section th {
  text-align: center;
  padding: 1em;
  font-size: 1.1em;
  /* background: var(--site-color-10); */
  color: var(--site-color-10);
}

.benefits-section td ul {
  padding-left: 1.25em;
}

.benefits-section tbody tr:nth-child(odd) {
  background: hsl(0, 0%, 85%);
}

/* Styling for the Thank You page content */
.thank-you-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  margin-top: 2em;
  padding: 1em 2em;
  gap: 1em;
  height: calc(100vh - 380px);
}

.thank-you-main h1 {
  font-family: var(--headline-font-family);
  font-size: 1.75em;
}

.thank-you-main p {
  color: var(--site-color-10);
}

.thank-you-main a {
  font-family: var(--body-text-font-family);
  text-transform: capitalize;
  color: var(--site-color-14);
  transition: all ease-in-out 0.2s;
}

.thank-you-main a:hover {
  color: var(--site-color-01);
}