/* Media Query for Larger Viewer */
@media (541px <= width <= 819px) {
    main {
        width: 95%;
        margin: 0 auto;
    }
    #portrait-photo {
        width: 200px; /* Adjust the width of the image to its container */
        height: auto; /* Automatically adjust the height based on the width to maintain the aspect ratio */
        padding: 2rem;
        border-radius: 50%;
    }
    h1 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    #navigation {
        display: flex;
        flex-direction: row;
    }
    .nav-item {
        display: block;
    }
    .nav-item {
        font-size: 1.2rem;
        font-weight: 700;
    }
    

    #navigation li {
        /* flex: 1 1 auto; Allow items to grow but not take up 100% width  */
        width: auto; /* Let the width be based on the content */
        flex-grow: 1; /* Allow the items to grow equally */
        text-align: center; /* Center align the anchor links */
    }
    .container-main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .hero {
        grid-column: span 2;
    }

    .hero-label {
        top: 100px;
        left: 20px;
        padding: 0.75rem;
    }
    
    .hero-label p {
        padding: 0.5rem;
        font-size: 2rem;
        letter-spacing: 0.1rem;
    }

    .container-main-title {
        grid-column: span 3;
    }
    iframe {
        margin: 0 auto;
    }

    #menu {
        display: none;
    }

}

