@media (min-width: 768px) {  
  nav ul {
      flex-direction: row;
      justify-content: space-around;
  }

  main {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      gap: 20px;
  }

  #menu {
  display: none; 
}

  .navigation {
      display: block;
  }

  iframe
  {
      grid-column: span 2;
  }

}
